<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        {% comment %}<img src="/assets/img/cat-abacus.png" alt="abacus icon" style="width:30px;height:24px">{% endcomment %}
        <span class="text-muted">Copyright &copy; 2024 <a href="https://vlamis.nyc">Nicholas G. Vlamis</a></span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a href="https://github.com/ngvlamis/DailyMath/tree/main">Code</a></li>
        <li class="ms-3"><a href="license">License</a></li>
    </ul>
  </footer>
</div>