<div class="row border-bottom mb-5">
    <div class="col-auto">
        <a href="index">
            <img src="/assets/img/cat-abacus.png" alt="abacus icon" style="width:128px;height:128px">
        </a>
    </div>
    <div class="col-auto">
        <div class="row">
            <div class="col">
                <h1 class="display-2 pb-0 mb-0">
                    DailyMath<span class="lead text-muted">.education</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="lead text-muted mt-0">worksheets for improving math fluency </span>
            </div>
        </div>
    </div>
</div>